.with-form {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}

.with-form__label {
  margin-bottom: 10px;
}

.with-form__input {
  padding: 15px;
  margin-bottom: 20px;
}

.with-form__form-action {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.with-form__submit-button {
  width: 100%;
}