.with-form {
  width: 100%;
  margin-top: 40px;
  min-height: 413px;
  display: flex;
  flex-direction: column;
}

.with-form__label {
  margin-bottom: 10px;
}

.with-form__input {
  padding: 15px;
  margin-bottom: 20px;
}

.with-form__form-action {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.with-form__submit-button {
  width: 100%;
}

.with-form__link {
  margin-left: 7px;
}

@media screen and (max-width: 1280px) {
  .with-form {
    min-height: 360px;
  }
}

@media screen and (max-width: 450px) {
  .with-form {
    min-height: 497px;
  }
}