.auth-form {
  width: 100%;
  margin-top: 40px;
  min-height: 413px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form__input {
  margin-bottom: 10px;
}

.auth-form__form-actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.auth-form__submit {
  width: 100%;
}

.auth-form__to {
  margin-left: 7px;
}

@media screen and (max-width: 1280px) {
  .auth-form {
    min-height: 360px;
  }
}

@media screen and (max-width: 450px) {
  .auth-form {
    min-height: 497px;
  }
}