.input {
  margin: 0;
  padding: 13px;
  color: var(--theme-color-font-main);
  font-size: 13px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: rgba(87, 87, 87, 0.5);
  transition: all var(--theme-transition-all-duration) ease;
}

.input:focus {
  border-color: var(--theme-color-secondary);
}

.input_variant_ghost {
  border: 1px solid rgba(87, 87, 87, 0.5);
  background-color: transparent;
}

.input_variant_profile {
  border-radius: 0;
  border: none;
  background-color: transparent;
}


.input_error {
  color: var(--theme-color-quaternary);
}

.input_error:focus {
  border-color: var(--theme-color-quaternary);
}