.search-form {
  margin-top: 70px;
}

.search-form__container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-form__input {
  width: 100%;
  padding: 25px 0 25px 25px;
  font-size: 18px;
}

.search-form__button {
  position: absolute;
  right: 10px;
}

.search-form__divider {
  margin-top: 44px;
}

@media screen and (max-width: 769px) {
  .search-form__divider {
    margin-top: 52px;
  }
}