.search-form__container {
  position: relative;
  display: flex;
  width: 100%;
}

.search-form__input {
  width: 100%;
  padding: 25px 0 25px 25px;
  font-size: 18px;
}

.search-form__button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}