.save-button {
  padding: 6px 7px;
  transition: transform 0.2s ease;
  border-radius: 30px;
}

.save-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.save-button_saved {
  width: 21px;
  height: 21px;
  background-color: var(--theme-color-quaternary);
  background-image: url("/src/images/save-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}