.footer {
  position: relative;
  padding-bottom: 20px;
}


.footer__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__title {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
  color: rgba(87, 87, 87, 0.8);
}

.footer__copyright {
  flex-grow: 2;
}
