.form-page {
  padding: 70px 0;
}

.form-page__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 396px;
}

.form-page__logo {
  width: 30px;
  height: 30px;
}