.text-input {
  padding: 15px;
}

.text-input__label {
  margin-bottom: 10px;
}

.text-input__error {
  height: 20px;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 11px;
  color: var(--theme-color-quaternary);
}

.text-input__error_visible {
  opacity: 1;
}

.text-input__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-input__label_variant_profile {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}