.text-input {
  padding: 15px;
}

.text-input__label {
  margin-bottom: 10px;
}

.text-input__error {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 11px;
  color: var(--theme-color-quaternary);
}

.text-input__error_visible {
  visibility: visible;
  opacity: 1;
}